<!DOCTYPE html>
<html>
  
  <head>
    <title>Health Monitoring System</title>
    <link rel="stylesheet" href="../static/CSS/profile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  
  <body>
    <div class="container">  
      <form id="contact" class = "profile-form">
      <h3>User Health Tracker Information </h3>

      <fieldset>
       <label for="usernumber">User Number:</label><br>
        <input id= 'usernumber'  type="text" tabindex="0" value="" disabled="disabled" required autofocus>
      </fieldset>

      <fieldset>
        <label for="firstname">First Name:</label><br>
        <input id= 'firstname'  type="text" tabindex="1" value="" disabled="disabled" required autofocus>
      </fieldset>
      
      <fieldset>
        <label for="lastname">Last Name:</label><br>
        <input id= 'lastname'  type="text" tabindex="2" value="" disabled="disabled" required autofocus>
      </fieldset>
      
      <fieldset>
        <label for="glucoselevel">Glucose Level:</label><br>
        <input id= 'glucoselevel'  type="text" tabindex="3" value="" disabled="disabled" required autofocus>
      </fieldset>
      
      <fieldset>
        <label for=" heartrate"> Heart Rate:</label><br>
        <input id= 'heartrate'  type="text" tabindex="4" value="" disabled="disabled" required autofocus>
      </fieldset>

      <fieldset>
        <label for="caloriesburnt"> Calories Burnt:</label><br>
        <input id= 'caloriesburnt'  type="text" tabindex="5" value="" disabled="disabled" required autofocus>
      </fieldset>

      <fieldset>
        <label for="timeofexercise"> Time Of Exercise:</label><br>
        <input id= 'timeofexercise'  type="text" tabindex="6" value="" disabled="disabled" required autofocus>
      </fieldset>

      <!-- <fieldset>
        <label for=" comments"> Comments:</label><br>
        <input id= ' comments'  type="text" tabindex="7" value="" disabled="disabled" required autofocus>
      </fieldset> -->

      <fieldset>
        <input type=button onClick="location.href='profile-page'" value='Modify User Health Tracker'>
      </fieldset>
      
      <fieldset>
        <input type=button onClick="location.href='blog-page'" value='Blog Page'>
      </fieldset>
      
      </form>
    </div>
  <body>
  <script src="../static/profilefreeze.js"></script>
 
</html>
    