<!DOCTYPE html>
<html>
  
  <head>
    <title>Health Monitoring System</title>
    <link rel="stylesheet" href="../static/CSS/profile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  
  <body>
    <div class="container">  
      <form id="contact" class = "profile-form">
      <h3>User Health Tracker Survey </h3>
      <h4>Plese fill all required coloumns </h4>
      
      <fieldset>
        <input class= 'firstname' placeholder=" First Name" type="text" tabindex="1" required autofocus>
      </fieldset>
      
      <fieldset>
        <input class= 'lastname' placeholder=" Last Name" type="text" tabindex="2" required autofocus>
      </fieldset>
      
      <fieldset>
        <input class= 'glucoselevel' placeholder=" Glucose Level" type="text" tabindex="3" required autofocus>
      </fieldset>

      <fieldset>
        <input class= 'heartrate' placeholder=" Heart Rate" type="text" tabindex="4" required autofocus>
      </fieldset>
      
      <fieldset>
        <input class= 'caloriesburnt' placeholder="Calories Burnt" type="text" tabindex="5" required autofocus>
      </fieldset>

      <fieldset>
        <input class= 'timeofexercise' placeholder="Time Of Exercise" type="text" tabindex="6" required autofocus>
      </fieldset>

      <fieldset>
        <input class= 'comments' placeholder="Comments" type="text" tabindex="7" required autofocus>
      </fieldset>
      

      <fieldset>
        <button class='profilecls'>Create</button>
      </fieldset>
      
    </form>
    </div>
  <body>
  <script src="../static/profile.js"></script>
 
</html>
    