<!DOCTYPE html>
<html>  
    <head>
        <title>Blog Page</title>
        <link rel="stylesheet" href="../static/CSS/export.css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>

    <body>
        <div id="container">
            <div class="title"><h3>Question yet to be answered</h3></div>
            <ul class="faq">
            </ul>
        </div>
        
        <!-- <footer>
            <h3>Have a question? Ask us <a href="#">here</a>, and we will get back to you shortly.</h3>
        </footer> -->


        <div class="btn">
        <button class='submit_question'>submit</button>
    </div>
    </body>
    <script src="../static/export.js"></script>
 
</html>
            