<!DOCTYPE html>
<html>
  
  <head>
    <title>Health Monitoring System</title>
    <link rel="stylesheet" href="../static/CSS/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

<body>

    <button class="tablink questiontab" onclick="openPage('QA', this, 'green')">Q&A</button>
    <button class="tablink" onclick="openPage('Login', this, 'green')" id="defaultOpen">Login</button>
    <button class="tablink" onclick="openPage('Form', this, 'green')">Health Tracker Survay </button>
    <button class="tablink" onclick="openPage('CreateAccount', this, 'green')">Create Account</button>

    <div id="QA" class="tabcontent">
      <form id="blob" class = "profile-form">
      <h3 style="font-size:250%;"> Questions and Answers</h3>
      <div class="blog"></div>
      </form>
    </div>

    <div id="Login" class="tabcontent">
        <div class="form">
          <form class="register-form">
            <input type="text" placeholder="name"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="email address"/>
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
          </form>
          <form class="login-form">
            <h1>User Login</h1>
            <input  class='username' type="text" placeholder="username"/>
            <input class='password' type="password" placeholder="password"/>
            <button class='logincls'>login</button>
            <a class="message" href="createaccount-page" color="green" >Create an account</a>
          </form>
        </div>
    </div>
    
    <div id="Form" class="tabcontent">  
        <form id="contact" class = "profile-form">
        <h3>Health Tracker Survey </h3>
        <h4>Plese fill all required coloumns </h4>
        <fieldset>
          <input class= 'firstname' placeholder="First Name" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
          <input class= 'lastname' placeholder="Last Name" type="text" tabindex="2" required autofocus>
        </fieldset>
        <fieldset>
          <input class= 'glucoselevel' placeholder="Glucose Level" type="text" tabindex="3" required autofocus>
        </fieldset>
        <fieldset>
          <input class= 'heartrate' placeholder="Heart Rate" type="text" tabindex="4" required autofocus>
        </fieldset>
        <fieldset>
          <input class= 'caloriesburnt' placeholder="Calories Burnt" type="text" tabindex="5" required autofocus>
        </fieldset>
        <fieldset>
          <input class= 'timeofexercise' placeholder="Time of Exercise" type="text" tabindex="6" required autofocus>
        </fieldset>
        <fieldset>
          <input class= 'comments' placeholder="Comments" type="text" tabindex="7" required autofocus>
        </fieldset>
        <button class='surveycls'>Submit</button>
        </form>
    
    </div>

    <div id="CreateAccount" class="tabcontent">
        <div class="form">
          <form class="login-form">
              <h1>Create Account</h1>
              <label for="us">User Name:</label><br>
              <input  id= 'us'class='username1' type="text" placeholder="Plese enter a user name"/>
              <label for="un">User Email:</label><br>
              <input  id= 'un'class='useremail' type="email" placeholder="Plese enter a valid email"/>
              <label for="pw">Password:</label><br>
              <input id= 'pw' class='password1' type="password" placeholder="Please enter a strong password"/>
              <label for="cpw">Conform Password:</label><br>
              <input id= 'cpw' class='cpassword' type="password" placeholder="Please enter password once again"/>              
              <button class='createcls'>Create Account</button>  
            <a href="#Login">Already had an account ?</a>
          </form>
        </div>
    </div>

   

</body>
<script src="../static/home.js"></script>
</html>