<!DOCTYPE html>
<html>
  
  <head>
    <title>Health Monitoring System</title>
    <link rel="stylesheet" href="../static/CSS/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  
  <body>
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <h1>Please enter your question</h1>
          <textarea class='question' rows="4" cols="40" placeholder="please processed"></textarea>
          <!-- <textarea  questionname="who is that" class='question' rows="4" cols="40" placeholder="please processed"/></textarea> -->
          <button class='questioncls'>submit</button>
        </form>
      </div>
    </div>
  </body>


  <!-- $('.question').val()
  $(.question).attr('questionname') -->
  <script src="../static/home.js"></script>
 

</html>


